* {
  margin: 0;
  padding: 0;
    border: solid 1px black;

}

.foto{
 display:block;
 margin: auto;
 padding: 12px;
}

.datos {
 text-align: center;
 position: relative;
 padding: 12px;
}

.perfil {
 text-align: center;
 position: relative;
}

.estudios {
 text-align: center;
 position: relative;
}

.experiencia {
 text-align: center;
 position: relative;
}

body{
  background-image: url('fondo.jpg'); 
}

.referencias{
 display: grid;
 grid-template-columns: auto;
 grid-gap: 10px;
}

.referencias img{
 width: 30%;
 align: center;
 border: solid 1px black;
 margin: auto;
}

.ref1 {
 text-align: center;
 position: relative;
}

.ref2 {
 text-align: center;
 position: relative;
}

.ref3 {
 text-align: center;
 position: relative;
}

.ref4 {
 text-align: center;
 position: relative;
}